/ = simple_form_for [@post, @comment], id: "new-comment", remote: true do |f|
/   = f.input :name
/   = f.input :body, input_html: {rows: 5}
/   = f.button :submit, class: "btn btn-default green text-white"
= form_with model: [@post, @comment], id: "new-comment" do |f|
  .name
    = f.label :name
    = f.text_field :name, class: "commentform_name"
  .body
    = f.label :body
    = f.text_field :body, input_html: {rows: 5}, class: "commentform_body"
  .submit
    = f.button :submit, class: "btn btn-default green text-white"
