!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tumblr
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.side-content
      %h1 TUMBLR
      %ul
        %li= link_to "Posts", root_path
        %li= link_to "About"
        %li= link_to "User Login"
    %din.main-content
      %div.nav-bar
        %h3 Post Feed
        %ul
          %li= link_to "Make Post"
          %li= link_to "Log Outs"
      %div.content
        = yield
