!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tumblr
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Amatic+SC:700|Anton|Bangers|Caveat|Cherry+Swash:700|Corben:700|Creepster|Economica:700|Homemade+Apple|IM+Fell+DW+Pica+SC|Kaushan+Script|Londrina+Shadow|Montserrat+Subrayada|Oswald:700|Permanent+Marker|Quicksand|Roboto+Condensed:700|Teko|Vollkorn"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.container-fluid
    %div.content.row
      %div.content__side.col-md-3.green.text-white
        %h1.text-right.text-white TUMBLR
        %ul
          %li.text-right= link_to "Posts", root_path, class: "text-white"
          %li.text-right= link_to "About", root_path, class: "text-white"
          %li.text-right= link_to "User Login", root_path, class: "text-white"
      %div.content__main
        %div.content__main__navbar
          %h3 Post Feed
          %ul
            %li= link_to "Make Post"
            %li= link_to "Log Outs"
        %div.content__main__contents
          = yield
